.admincard{
    border:solid green;
    background-color: #c1f6b3;
    width:1000px;
    margin-top:10px;
}
thead{
background-color: aliceblue;
}
button.btn {

}
.aboutus{
    margin: 100 auto;
    width: 50%;
}
.aboutus h3{
    text-align: center;
}
.payment{
    margin: 0 auto;
    width: 50%;
}
.button a{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: none;
    color:darkblue;
}
.button{
    border: none;
    background: transparent;
    margin-top:10px;
}
.top{
    top:100;
    left:0;
    position:absolute;
}
.caution{
    border: solid 1px lightseagreen;
    padding: 10px;
}
.detail{
    margin:50px;
}
.payment img{
    width:100%;
}
/*レスポンシブ対応*/
@media (max-width: 480px){
.payment{
    width:100%;
}
.aboutus{
    width:100%;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait)  {

}
