.admincard{
    border:solid green;
    background-color: #c1f6b3;
    width:1000px;
    margin-top:10px;
}
thead{
background-color: aliceblue;
}
button.btn {

}
.aboutus{
    margin: 100 auto;
    width: 50%;
}
.payment{
    margin: 100 auto;
    width: 50%;
}
.button a{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: none;
    color:darkblue;
}
.button{
    border: none;
    background: transparent;
    margin-top:10px;
}
.top{
    top:0;
    left:0;
    position:absolute;
}
.caution{
    border: solid 1px lightseagreen;
    padding: 10px;
}



