.py-4{
    display:block;
}
header{
    margin-bottom: 16px;
}
header{
    text-align: center;
    width:70%;
    margin:0 auto;
}
header img{
    width:100%;
}
.card{
    text-align: center;
    background: beige;
    width:80%;
    margin:16px auto;
    border-radius: 10%;
    padding:16px;
}
table, th, td, tr {
    text-align: center;
    padding: 8px;
    margin:0 auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.artist-body table, th, td, tr{
    /* border-style: none; */
}

.card-header table {
    width: 100%; /* もしくは適切な幅を設定 */
    border-style: none;

}
.card-header tbody {
    display:flex;
    flex-wrap: wrap;
}
.card-header td {
    border: 1px solid #ccc;
    width:250px;
    height:250px;
}

.card-header tr {
    width:250px;
    height:250px;
    margin:24px 0;
}
.card-header img {
    max-width: 100%; /* 画像が親要素の幅を超えないようにする */
    height: auto;
}
.list img {
    width:auto;
    height:200px;
}
.card img{
    width:auto;
    height:200px;
}
.free-mark {
    position: relative; /* 相対位置指定 */
    background-image: url(../img/skelton.jpeg);
}

.free-icon {
    position: absolute; /* 絶対位置指定 */
    display: flex;
}
.free-icon img{
    width:100px;
    height:auto;
}
.my_image{
    width: 200px; /* 画像の幅 */
    height: 200px; /* 画像の高さ */
    border-radius: 50%; /* 50%のborder-radiusを設定して円形にする */
    /*overflow: hidden; /* 余分な部分を切り取る */                 
}
.my_image img{
    width: 200px; /* 画像を親要素にフィットさせる */
    height: 200px; /* 高さを自動調整 */
}
.profile{
    display:flex;
    justify-content: center;
    padding:16px;
    background-color: rgb(238, 235, 235);
    margin:8px auto;
    border-radius: 2%;
    width:70%;
}
h2{
    text-align: center;
}
.pro_button{
    text-align: center;
}
.download_list table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ccc;
}
.download_list th, .download_list td {
    border: 1px solid #ccc;
    text-align: left;

}

.download_list th, .download_list td {
    padding: 8px; /* セルの余白を調整する場合 */
}

.download_list{
    text-align: left;
}
.dl_sp{
    display:none;
}
.category{
    display: flex;
    justify-content: center;
}
.confirm{
    margin-top: 16px;
}
.copy{
    justify-content: center;
    margin-top: 16px;
}
input#checkbox{
    width:10%;
}
input#protect{
    width:10%;
}
.header_nav{
    list-style: none;
    letter-spacing: 3px;
    font-size: 1.5rem;
}
.horizontal-table {
    border-collapse: collapse;
    width: 50%;
}

.horizontal-table th, .horizontal-table td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}

/* 横並びにするための追加スタイル */
.horizontal-table thead th, .horizontal-table tbody td {
    width: 50%;
    border-style: none;
    text-align: center;
}
label{
    font-weight: bold;
}
.racoon img{
    width:70%;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 他の要素よりも前面に表示 */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-content p{
    font-weight: bold;
}
.dropdown-menu {
    background-color: white; /* 例: 白色 */
}
/* クリック時の背景色 */
.dropdown-menu.active {
    background-color: lightblue; /* 例: 水色 */
}
ul{
    list-style: none;
}
.pagination ul{
    display: flex;
    justify-content: center;
}
.mine{
    display: flex;
    flex-direction: column;
}
.artist-body{
    display: contents;
}
a{
    text-decoration: none;
    color:rgb(66, 124, 233);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}
footer {
    text-align: center;
}
header{
    text-align: center;
    width:70%;
    margin:0 auto;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-buttons {
    text-align: center;
    margin-top: 20px;
}

.popup-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card-body{
    width:100%;
}
.form-group{
    text-align: center;
}
.category-list {
    display: none;
    padding:10px;
    column-count: 3;
}
.category-list a{
    border:1px solid;
    padding:2px;

}
.category-item {
    display: block; /* ブロックレベル要素に変更 */
    margin-bottom: 5px; /* 各要素の下に余白を追加 */
    border: 1px solid black; /* 枠線を追加 */
    padding: 5px; /* 各要素の内側に余白を追加 */
    text-decoration: none; /* リンクの下線を削除 */
}
.permission{
    text-align: center;
    background-color: rgb(197, 233, 235);
    width:50%;
    margin:16px auto;
    border-radius: 50%;
    padding:8px;
}
.consent{
    text-align: center;
}
nav {
    text-align: center; /* ボタンを中央寄せ */
}
nav button {
    margin: 0 10px; /* ボタン間の余白を設定 */
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    border-radius: 50%; /* 楕円形にする */
    background-color: #E2942B;
    border: none; /* 枠線をなくす */
    vertical-align: top; /* ボタンを上揃えにする */
}
.english{
    text-align: center;
    margin-bottom: 24px;
}
.english button{
    background-color: rgb(240, 240, 151);
    padding:8px;
}
.sort{
    display: flex;
    justify-content: center;
}
.form{
    margin:24px;
    border:5px rgb(101, 149, 191) solid;
    padding:8px;
}
.center{
    text-align: center;
}
.invalid-feedback {
    color: red; /* 赤色 */
    font-weight: bold; /* 太字 */
    animation: blink 1s infinite; /* 点滅 */
}
button{
    margin:8px;
}
.select_button{
    display:block;
}
.attention{
    margin: 0 16px;
}
.r-box{
    padding:16px;
}
@keyframes blink {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@media screen and (max-width: 844px){
    h3{
        font-size: 20px;
    }
    section{
        width:90%;
    }
    img{
        width:70%;
    }
    .card-header tbody {
        display:block;
    }
}
    @media (max-width: 480px) {
        .card-header tbody {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card-header tr, td {
            border-style: none;
            width:100px;
            /* height:100px; */
            margin:16px;
            padding:0px;
        }
        .list img{
            width:auto;
            height:100px;
        }
        .free-icon img{
            width:auto;
            height:30px;
        };
        .artist-body table, th, td, tr{
            border-style: none; 
        }
        table{
        width: 100%;
        border-style: none;

        }
        table th,
        table td{
        display: block;
        }
        table th,
        table td{
        border-top: none;    
        }
        table, th, td, tr {
        text-align:center;
        /* border-style: none;  */
        }
        table tr:first-child th{
        /* border-top: 1px solid #999; */
        }
        .detail{
            display: none;
        }
        h1{
            overflow-wrap:  break-word;
        }
        h2{
            /* text-align: left; */
            padding:16px 24px;
        }
        .dl_web{
            display: none;
        }
        .dl_sp{
            display: block;
        }
        .horizontal-table {
            width: 100%;
        }
        .horizontal-table thead th, .horizontal-table tbody td {
            display: inline-block; 
        }
        .horizontal-table th, .horizontal-table td {
            border-style: none;         
            text-align: center;
            padding: 8px;
        }
        .card{
            text-align: left;
            width:90%;
        }
        .racoon img{
            width:70%;
        }
        .artist-body{
            display: block;
        }
        .profile{
            width:90%;
        }
        .horizontal-table thead th, .horizontal-table tbody td {
            /* display: inline-block; */
            width: 100%; /* 4つの列なので、25%ずつの幅を指定 */
        }
        .permission{
            width:80%;
            border-radius: 0%;
        }
        .card-header td {
            border: none;
            width:100px;
            height:100px;
        }
        .artist-body{
            width:100%;
        }
        .search{
            margin:8px auto;
        }
        .my_image{
            margin: 0 auto;
        }
}
