body{
    background-color: ivory;
}
h1{
    font-size: 48px;

}
h2{
    text-align: left;
    font-size:32px;
}
.box{
    background-color: ghostwhite;
    width: 80%;
    margin: 32px auto;
}
.panel-body{
    background-color:ivory;
    border:unset;
    width:100%;
    height:auto;
}
button.text-black{
    border: unset;
    background-color: ivory;
    margin-left: 30px;
}
.open a{
    display:block;
    color:rgb(235, 101, 101);
}
#ask{
    display: block;
    width:50px;
}
tr{
    display:block;
}
a{
    font-size: 16px;
    margin-left: 8px;
}
input{
    width: 30%;
    border: unset;
    background-color: rgb(176, 233, 182);
}
.dashboard-area{
    width:50%;
    margin:0 auto;
}
.col-md-6{
    margin: 0 auto;
}
.mypage_row{
    display:block;
}
tr{
    border: 1px solid black;
}
/*ipad*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .dashboard-area{
        width:80%;
        margin:0 auto;
    }
    .col-md-4{
       max-width:100%;
    }
}
/*iPhone12レスポンシブ対応*/
@media only screen
and (min-device-width: 390px)
and (max-device-width: 844px)
and (-webkit-min-device-pixel-ratio: 3) {
      .dashboard-area{
          width:100%;
          margin:0 auto;
      }

  }
