
.card img{
    width:300px;

    height:auto;
}
.relative {
    position: relative;
    width: 500px;
    height: 500px;
}
.absolute {
    position:absolute;
    top:125px;
    left:80px;
    width:70%;
}
.absolute img{
    width:20%;
}
h5{
    text-align: start;
}
.container{
   /*  width:max-content; */
   margin-top: 100px;
}
.col-md-8{
    max-width: 100%;
}
h3{
    font-size:18px;
}
.card{
    padding:24px;
    text-align: start;
}
.button{
    margin: 20px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
    .absolute {
        position:absolute;
        top:120px;
        left:60px;
        width:80%;
    }
}
/*iPhoneレスポンシブ対応*/

  @media screen and (max-width: 844px){
.card img{
    width:300px;

    height:auto;
}
.relative {
    position: relative;
    width: 500px;
    height: 500px;
}
.absolute {
    position:absolute;
    top:95px;
    left:55px;
    width:70%;
}
.absolute img{
    width:17%;
}
.container{
    width:max-content;
}
h3{
    font-size:40px;
}
input#image.form-control {
    /* width:30%; */
}
  }

