
body {
    margin: 0;
    font-family: Futo Go B101,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
    background-color: #fff;
    color: #111;
    line-height: 1.8;
    letter-spacing: 2px;
    font-feature-settings: "palt";
}
.wrap{
    overflow: hidden;

}
.container{
    width:auto;
}
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5000;
    transition: transform .6s cubic-bezier(0,.55,.45,1) .3s;
}

.header_inner {
/*     display: flex;
 */    margin:0px auto 0 auto;
    padding: 0px;
}
.mobile{
display:none;
}
.mobile-menu{
    display:none;
}
.header__nav__inner {
    display: flex;
}
.header_nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1.5rem;
    width:100%;
}
.header_nav_list:first-child {
    flex: 1;
}
.header_nav_itm:first-child {
    margin-left: 10;
}
.header_nav_itm {
    margin-left: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width:25%;
}
a.header_nav_itm_link {
    display: block;
    position: relative;
    color: rgb(97, 93, 93);
    text-decoration: none;
    line-height: 40px;
    font-size: 16px;
}
.register-button a.header_nav_itm_link{
    box-sizing: border-box;
    display: table-cell;
    height: 0.46rem;
    padding: 0 0.4rem;
    border-radius: 0.05rem;
    color: #fff;
    background-color: #03c75a;
    vertical-align: middle;
    border-radius:5px;
}
.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: rgb(97, 93, 93);
    width:max-content;
}
.description1:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-bottom: 15px solid  rgb(97, 93, 93);
    margin-left: -15px;
}
.header_nav_itm:hover .description1{
    display: inline-block;
    bottom: -70px;
    left: -30px;
}
li.title_image{
    width:500px;
}
.youtube_kv{
    height:50%;
    width:100%;
    position:relative;
    z-index:5;
    line-height:1;
    margin:300px  0 50px 0;
}
.elementor-image a img{
    background-color: rgba(34, 34, 34, 0.9);
    width: 10%;
    border-radius: 50px;

}
.elementor-widget{
    position:relative;
    text-align: center;
}
.elementor-image{
    position:absolute;
    top:50%;
    left:50%;
}
.elementor-widget img{
    width:50%;
    height: auto;
}
/*mordal*/
/*動画表示のモーダルの余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper{
	padding:0;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before{
	background:rgb(233, 29, 29);
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

/*使い方*/
.use{
    margin-left:500px;
    width: 80%;
    margin-bottom:50px;
}
a.use{
    color: #222222;
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: -2px;
}
section{
    margin-top: 150px;
    margin-bottom: 400px;
    padding: 0px 0px 0px 0px;
    width:auto;

}
/*tab*/
.tab_wrap{
    width:80%;
/*     margin-left:500px;
 */}

input[type="radio"]{
    display:none;
}
.tab_area{
    font-size:0;
     margin:0 10px;
}

.tab_area label {
    width:150px;
    margin:0 5px;
    display:inline-block;
    padding:12px 0;
    color:#999;
    background:#ddd;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    transition:ease 0.2s opacity;
}

.tab_area label:hover{
    opacity:0.5;
}

.panel_area {
    background:#fff;
    height:auto;
}

.tab_panel {
    width:100%;
    padding:80px 0;
    display:none;
}

#tab1:checked ~ .tab_area .tab1_label{
    background:#fff; color:#000;
}
#tab1:checked ~ .panel_area #panel1{
    display:block;
    width:60%;
}
#tab2:checked ~ .tab_area .tab2_label{
    background:#fff; color:#000;
}
#tab2:checked ~ .panel_area #panel2{
    display:block;
    width:50%;
}
#tab3:checked ~ .tab_area .tab3_label{
    background:#fff; color:#000;
}
#tab3:checked ~ .panel_area #panel3{
    display:block;
    width:50%;
}
#tab4:checked ~ .tab_area .tab4_label{
    background:#fff; color:#000;
}
#tab4:checked ~ .panel_area #panel4{
    display:block;
    width:50%;
}
#tab5:checked ~ .tab_area .tab5_label{
    background:#fff; color:#000;
}
#tab5:checked ~ .panel_area #panel5{
    display:block;
    width:50%;
}
#tab6:checked ~ .tab_area .tab6_label{
    background:#fff; color:#000;
}
#tab6:checked ~ .panel_area #panel6{
    display:block;
    width:50%;
}
#tab7:checked ~ .tab_area .tab7_label{
    background:#fff; color:#000;
}
#tab7:checked ~ .panel_area #panel7{
    display:block;
    width:50%;
}
#tab8:checked ~ .tab_area .tab8_label{
    background:#fff; color:#000;
}
#tab8:checked ~ .panel_area #panel8{
    display:block;
    width:50%;
}
#tab9:checked ~ .tab_area .tab9_label{
    background:#fff; color:#000;
}
#tab9:checked ~ .panel_area #panel9{
    display:block;
    width:50%;
}
#tab10:checked ~ .tab_area .tab10_label{
    background:#fff; color:#000;
}
#tab10:checked ~ .panel_area #panel10{
    display:block;
    width:50%;
}
#tab11:checked ~ .tab_area .tab11_label{
    background:#fff; color:#000;
}
#tab11:checked ~ .panel_area #panel11{
    display:block;
    width:50%;
}
/*登録のメリット表*/
.design09 {
    width: 40%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 2px #778ca3;
   }
   .design09 th {
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
    border-bottom: solid 2px #778ca3;
    width:120px;
   }
   .design09 td {
    padding: 10px;
    border-left: solid 1px #778ca3;
   }
   .design09 tr {
    border-top: dashed 1px #778ca3;
   }

.slide-head{
    color: #03C75A;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: -1px;
}
.slide-description b{
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -2px;
    margin-bottom: 20px;
    display: block;
}
.slide-description {
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -1px;
}
#panel1 #panel2 #panel3 .panel_area{
    width:50%;
}
#panel4 #panel5 #panel6 .panel_area2{
    width:50%;
}
.sright{
    float: right;
}
/*table*/
table.company {
    width: 400px;
    /* margin: 0 auto; */
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
    }

    table.company th,
    table.company td {
    padding: 10px;
    }

    table.company th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 220px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    }

    table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
    }
    /* firefox */
    @-moz-document url-prefix() {
    table.company th::after {
    float: right;
    padding: 0;
    left: 30px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border: 10px solid transparent;
    border-left: #295890 10px solid;
    margin-top: -10px;
    }
    }

    table.company td {
    background: #f8f8f8;
    width: 200px;
    padding-left: 20px;
    }
    .contents {
        display: flex;
       /*  flex-wrap: wrap; */
        width: 1000px;
      }
     .item {
        width: calc(100% / 2);
        padding: 20px 10px;
        text-align:left;
     }
     .admin_button::after{
        content:"\f178";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color:#7791DE;
     }
/*フッター上*/
.bottom{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.bottom-container{
    background-color: #03C75A;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}
.bottom-element{
    text-align: center;
    width: 100%;

}
.bottom-element-top{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: -2px;
}
h2.bottom-element-top{

}
.bottom-inner{
    margin-top: 40px;
    margin-bottom:100px;
    display:flex;
}
.bottom_button{
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -1px;
    fill: #03C75A;
    color: #03C75A;
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 100px 18px 100px;
}
.bottom-right-button{
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -1px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #03C75A;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 5px 5px 5px 5px;
    padding: 16px 100px 16px 100px;
}
.bottom-row{
    width:50%;
}
.bottom-left{
    width:50%;
}
.bottom-right{
    width:50%;
}
.gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: rgb(98, 96, 96);
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position:absolute;
    top:-12rem;
    right: 1.34rem;
    color:rgb(247, 244, 244);
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid rgb(247, 244, 244);
    border-right: 2px solid rgb(247, 244, 244);
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover{
    opacity: 1;
}
.site-footer{
    position: relative;
}
.site-footer .bc-sitemap-wrapper {
    background: #343434;
}
.site-footer .sitemap {
    width: 65rem;
    margin: 0 auto;
    padding: 0.6rem 0;
    /* font-size: .14rem; */
}
.site-footer .sitemap .widget_nav_menu {
    width: 15rem;
    margin-right: 0.16rem;
    float: left;
}
.site-footer .sitemap h2 {
/*     font-size: .14rem;
 */    line-height: .2rem;
    color: #888;
    font-weight: 400;
}
.site-footer .sitemap ul {
    margin-top: 0.1rem;
    list-style-type: none;
    list-style-image: none;
}
.site-footer .sitemap ul a {
    line-height: 2;
    color: #fff;
    display: inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.site-footer .site-info {
    background: #343434;
    color: #888;
    line-height: .34rem;
    font-size: .14rem;
    border-top: 1px solid #434343;
    padding-top: 0.24rem;
    padding-bottom: 0.24rem;
}
.site-info{
    margin-top:200px;
}
.site-footer .site-info .widget {
    width: 12.8rem;
    margin: 0 auto;
    position: relative;
}
.site-footer .site-info .copy-right {
    line-height: .2rem;
    padding-top: 0.16rem;
}
.site-footer .site-info .copy-right-txt {
    padding-right: 0.24rem;
    font-size: .14rem;
}

.next-btn{
    display:none;
}

    /*LenovoTab*/




/*iPhone12レスポンシブ対応*/
@media only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 3) {
.main-column{
    margin-top:100px;
}
.header_inner{
    display:none;
}
section{
    margin-top:0;
}
.slide-description{
    width:inherit;
}
.sright{
    float:unset;
}
.mobile{
    display: block;
}
/*ハンバーガーメニュー*/
.mobile-menu{
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}
#nav-drawer {
    position: relative;
  }
.nav-unshown {
    display:none;
  }
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
 /*ハンバーガーの形をCSSで表現*/
 #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }

  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  .home_copy {
    display:none;

}
.home_kv {
    height: 50%;
    width: 100%;
    position: relative;
    z-index: 5;
    line-height: 1;
    margin: 50px 0 50px 0;
}
/*スライドの上の文字*/
.home_kv .post_title1{
    position:absolute;
    top:100px;
    left:100px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    font-family:'Rubik Dirt',sans-serif;
}
.home_kv .post_title2{
    position:absolute;
    top:100px;
    left:80px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    font-family:'Rubik Dirt';

}
.home_kv .post_title3{
    position:absolute;
    bottom:100px;
    left:100px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    font-family:'Rubik Dirt';
}
.use{
    margin: 0 auto 25px auto;
}
a.use{
    font-size: 30px;
    border-bottom: #03C75A 1px solid;
}
.tab_wrap{
    margin: 0 10px;

}
.tab_area{
    width:max-content;
}
.tab_area label{
    display:unset;
}
#tab1:checked ~ .panel_area #panel1 {
    display: block;
    width: 100%;
}
#tab2:checked ~ .panel_area #panel2 {
    display: block;
    width: 100%;
}
#tab3:checked ~ .panel_area #panel3 {
    display: block;
    width: 100%;
}
#tab4:checked ~ .panel_area #panel4 {
    display: block;
    width: 100%;
}
#tab5:checked ~ .panel_area #panel5 {
    display: block;
    width: 100%;
}
#tab6:checked ~ .panel_area #panel6 {
    display: block;
    width: 100%;
}
#tab7:checked ~ .panel_area #panel7 {
    display: block;
    width: 100%;
}
#tab8:checked ~ .panel_area #panel8 {
    display: block;
    width: 100%;
}
#tab9:checked ~ .panel_area #panel9 {
    display: block;
    width: 100%;
}
#tab10:checked ~ .panel_area #panel10 {
    display: block;
    width: 100%;
}
#tab11:checked ~ .panel_area #panel11 {
    display: block;
    width: 100%;
}
.panel_area{
}
.element{
    margin-bottom: 50px;
}
.slide-description b {
    font-size: 30px;
}
.nav-wrap {
    position: relative;
  }
  .scroll-nav {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 慣性スクロール */
  }
  .tab_area {
    max-width: 1060px; /* メニューの最大幅 */
    min-width: 770px; /* メニューの最小幅 */
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    list-style: none;
    padding-right: 25px; /* 右側の固定分余白を空ける */
  }
  .scroll-nav ul li {
    float: left;
    width: 110px; /* メニューの個別の幅 */
    text-align: center;
  }

  .scroll-nav ul li a {
    display: inline-block;
    color: #fff; /* メニューの文字色 */
    text-decoration: none;
  }
  .next-btn { /* 右側に固定する部分 */
    position: absolute;
    top: 0;
    right: 0;
    width: 25px; /* 固定部分の幅 */
    height: 40px; /* メニューの高さに合わせる */
    line-height: 40px;
    background: #fff;
    color: #555;
  }
  .tab_area label {
    width:150px;
    margin:0 5px;
    display:unset;
    padding:12px 0;
    color:#999;
    background:unset;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    transition:ease 0.2s opacity;
}
.bottom_button{
    padding: 18px 30px 18px 30px;
}
.bottom-right-button{
    padding: 18px 30px 18px 30px;
}
.bottom-element-top{
    font-size: 30px;
}
.gotop{
    top:-5rem;
}
  }
/*スマホ*/
@media only screen and (max-width: 767px){

  .main-column{
    margin-top:100px;
}
.header_inner{
    display:none;
}
section{
    margin-top:0;
}
.slide-description{
    width:inherit;
}
.sright{
    float:unset;
}
.mobile{
    display:block;
}
/*ハンバーガーメニュー*/
.mobile-menu{
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}
#nav-drawer {
    position: relative;
  }
.nav-unshown {
    display:none;
  }
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
 /*ハンバーガーの形をCSSで表現*/
 #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }

  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  .home_copy {
    display:none;

}
.home_kv {
    height: 50%;
    width: 100%;
    position: relative;
    z-index: 5;
    line-height: 1;
    margin: 50px 0 50px 0;
}
/*スライドの上の文字*/
.home_kv .post_title1{
    position:absolute;
    top:100px;
    left:100px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    font-family:'Rubik Dirt',sans-serif;
}
.home_kv .post_title2{
    position:absolute;
    top:100px;
    left:100px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    font-family:'Rubik Dirt';

}
.home_kv .post_title3{
    position:absolute;
    bottom:100px;
    left:100px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    font-family:'Rubik Dirt';
}
.use{
    margin: 0 auto 25px auto;
}
a.use{
    font-size: 30px;
    border-bottom: #03C75A 1px solid;
}
.tab_wrap{
    margin: 0 10px;

}
.tab_area{
    width:max-content;
}
.tab_area label{
    display:unset;
}
#tab1:checked ~ .panel_area #panel1 {
    display: block;
    width: 100%;
}
#tab2:checked ~ .panel_area #panel2 {
    display: block;
    width: 100%;
}
#tab3:checked ~ .panel_area #panel3 {
    display: block;
    width: 100%;
}
#tab4:checked ~ .panel_area #panel4 {
    display: block;
    width: 100%;
}
#tab5:checked ~ .panel_area #panel5 {
    display: block;
    width: 100%;
}
#tab6:checked ~ .panel_area #panel6 {
    display: block;
    width: 100%;
}
#tab7:checked ~ .panel_area #panel7 {
    display: block;
    width: 100%;
}
#tab8:checked ~ .panel_area #panel8 {
    display: block;
    width: 100%;
}
#tab9:checked ~ .panel_area #panel9 {
    display: block;
    width: 100%;
}
#tab10:checked ~ .panel_area #panel10 {
    display: block;
    width: 100%;
}
#tab11:checked ~ .panel_area #panel11 {
    display: block;
    width: 100%;
}
.panel_area{
}
.element{
    margin-bottom: 50px;
}
.slide-description b {
    font-size: 30px;
}
.nav-wrap {
    position: relative;
  }
  .scroll-nav {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 慣性スクロール */
  }
  .tab_area {
    max-width: 1060px; /* メニューの最大幅 */
    min-width: 770px; /* メニューの最小幅 */
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    list-style: none;
    padding-right: 25px; /* 右側の固定分余白を空ける */
  }
  .scroll-nav ul li {
    float: left;
    width: 110px; /* メニューの個別の幅 */
    text-align: center;
  }

  .scroll-nav ul li a {
    display: inline-block;
    color: #fff; /* メニューの文字色 */
    text-decoration: none;
  }
  .next-btn { /* 右側に固定する部分 */
    position: absolute;
    top: 0;
    right: 0;
    width: 25px; /* 固定部分の幅 */
    height: 40px; /* メニューの高さに合わせる */
    line-height: 40px;
    background: #fff;
    color: #555;
  }
  .tab_area label {
    width:150px;
    margin:0 5px;
    display:unset;
    padding:12px 0;
    color:#999;
    background:unset;
    text-align:center;
    font-size:13px;
    cursor:pointer;
    transition:ease 0.2s opacity;
}
.bottom_button{
    padding: 18px 30px 18px 30px;
}
.bottom-right-button{
    padding: 18px 30px 18px 30px;
}
.bottom-element-top{
    font-size: 30px;
}
.gotop{
    top:-5rem;
}
.bottom-container{
    display:none;
}
.site-footer .site-info{
    padding-top: 45rem;
}
  }
  @media only screen and (min-width:380px) and (max-width:800px){
    .main-column{
        margin-top:100px;
    }
    .header_inner{
        display:none;
    }
    section{
        margin-top:0;
    }
    .slide-description{
        width:inherit;
    }
    .sright{
        float:unset;
    }
    .mobile{
        display:block;
    }
    /*ハンバーガーメニュー*/
    .mobile-menu{
        display: flex;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        flex-direction: row;
        -moz-flex-direction: row;
        -o-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
    #nav-drawer {
        position: relative;
      }
    .nav-unshown {
        display:none;
      }
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
      }
     /*ハンバーガーの形をCSSで表現*/
     #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
        bottom: -8px;
      }
      #nav-open span:after {
        bottom: -16px;
      }

      /*閉じる用の薄黒箇所*/
      #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }

      /*メニューの中身*/
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 90%;
        max-width: 330px;/*最大幅（お好みで調整を）*/
        height: 100%;
        background: #fff;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
      }

      /*チェックがついたら表示させる*/
      #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
      }

      #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }
      .home_copy {
        display:none;

    }
    .home_kv {
        height: 50%;
        width: 100%;
        position: relative;
        z-index: 5;
        line-height: 1;
        margin: 50px 0 50px 0;
    }
    /*スライドの上の文字*/
    .home_kv .post_title1{
        position:absolute;
        top:100px;
/*         left:200px;
 */        color:#fff;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        align-items: flex-end;
        font-size: 10px;
        font-family:'Rubik Dirt',sans-serif;
    }
    .home_kv .post_title2{
        position:absolute;
        top:100px;
        left:80px;
        color:#fff;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        align-items: flex-end;
        font-size: 10px;
        font-family:'Rubik Dirt';

    }
    .home_kv .post_title3{
        position:absolute;
        bottom:100px;
        left:100px;
        color:#fff;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        align-items: flex-end;
        font-size: 10px;
        font-family:'Rubik Dirt';
    }
    .use{
        margin: 0 auto 25px auto;
    }
    a.use{
        font-size: 30px;
        border-bottom: #03C75A 1px solid;
    }
    .tab_wrap{
        margin: 0 10px;

    }
    .tab_area{
        width:max-content;
    }
    .tab_area label{
        display:unset;
    }
    #tab1:checked ~ .panel_area #panel1 {
        display: block;
        width: 100%;
    }
    #tab2:checked ~ .panel_area #panel2 {
        display: block;
        width: 100%;
    }
    #tab3:checked ~ .panel_area #panel3 {
        display: block;
        width: 100%;
    }
    #tab4:checked ~ .panel_area #panel4 {
        display: block;
        width: 100%;
    }
    #tab5:checked ~ .panel_area #panel5 {
        display: block;
        width: 100%;
    }
    #tab6:checked ~ .panel_area #panel6 {
        display: block;
        width: 100%;
    }
    #tab7:checked ~ .panel_area #panel7 {
        display: block;
        width: 100%;
    }
    #tab8:checked ~ .panel_area #panel8 {
        display: block;
        width: 100%;
    }
    #tab9:checked ~ .panel_area #panel9 {
        display: block;
        width: 100%;
    }
    #tab10:checked ~ .panel_area #panel10 {
        display: block;
        width: 100%;
    }
    #tab11:checked ~ .panel_area #panel11 {
        display: block;
        width: 100%;
    }
    .panel_area{
    }
    .element{
        /* border-bottom: 1px solid rgb(95, 93, 93); */
        margin-bottom: 50px;
    }
    .slide-description b {
        font-size: 30px;
    }
    .nav-wrap {
        position: relative;
      }
      .scroll-nav {
        width: 100%;
       /* background: #555; /* メニューの背景色 */
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* 慣性スクロール */
      }
      .tab_area {
        max-width: 1060px; /* メニューの最大幅 */
        min-width: 770px; /* メニューの最小幅 */
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        list-style: none;
        padding-right: 25px; /* 右側の固定分余白を空ける */
      }
      .scroll-nav ul li {
        float: left;
        width: 110px; /* メニューの個別の幅 */
        text-align: center;
      }
     /*  .scroll-nav ul li:hover {
        background: #222; /* マウスホバー時の背景色
      } */
      .scroll-nav ul li a {
        display: inline-block;
        color: #fff; /* メニューの文字色 */
        text-decoration: none;
      }
      .next-btn { /* 右側に固定する部分 */
        position: absolute;
        top: 0;
        right: 0;
        width: 25px; /* 固定部分の幅 */
        height: 40px; /* メニューの高さに合わせる */
        line-height: 40px;
        background: #fff;
        color: #555;
      }
      .tab_area label {
        width:150px;
        margin:0 5px;
        display:unset;
        padding:12px 0;
        color:#999;
        background:unset;
        text-align:center;
        font-size:13px;
        cursor:pointer;
        transition:ease 0.2s opacity;
    }
    .bottom_button{
        padding: 18px 30px 18px 30px;
    }
    .bottom-right-button{
        padding: 18px 30px 18px 30px;
    }
    .bottom-element-top{
        font-size: 30px;
    }
    .gotop{
        top:-5rem;
    }
    .bottom-container{
        display:none;
    }
    .header_nav_list {
        display: block;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        letter-spacing: 3px;
        font-size: 1.0rem;
    }
    .site-footer .sitemap {
         width: auto;
  }
  .design09 {
    width:auto;
}

  }
  /*iPad*/
  @media screen and (max-width: 979px){
      html{
        width:100%;
    }
    section{
        margin-left:0;
        width:100%;
    }
    .header_inner{
        display:none;
    }
    .mobile{
        display:block;
    }
    /*ハンバーガーメニュー*/
    .mobile-menu{
        display: flex;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        flex-direction: row;
        -moz-flex-direction: row;
        -o-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
    #nav-drawer {
        position: relative;
      }
    .nav-unshown {
        display:none;
      }
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
      }
     /*ハンバーガーの形をCSSで表現*/
     #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
        bottom: -8px;
      }
      #nav-open span:after {
        bottom: -16px;
      }

      /*閉じる用の薄黒箇所*/
      #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }

      /*メニューの中身*/
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 90%;
        max-width: 330px;/*最大幅（お好みで調整を）*/
        height: 100%;
        background: #fff;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
      }

      /*チェックがついたら表示させる*/
      #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
      }

      #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }
      .home_copy {
        display: none;

}

/* .use{
margin-left:200px;
} */
/* .tab_wrap{
margin-left:200px;
} */
.design09{
width:auto;
}
.panel_area{
height:auto;
}
.site-footer .sitemap {
width:100%;
}
.contents{
display:block;
}

.home-button a.header_nav_itm_link {
box-sizing: border-box;
display: table-cell;
height: 0.46rem;
padding: 0 0.4rem;
border-radius: 0.05rem;
color: #fff;
background-color: #03c75a;
vertical-align: middle;
border-radius: 5px;
}
.login-button a.header_nav_itm_link {
box-sizing: border-box;
display: table-cell;
height: 0.46rem;
padding: 0 0.4rem;
border-radius: 0.05rem;
color: #fff;
background-color: #03c75a;
vertical-align: middle;
border-radius: 5px;
}
.header_nav_list {
    display: block;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1.0rem;
}
.header_nav_list a{
text-decoration:none;
color:#222222;
}
.bottom-container{
display:block;
}
section{
margin-bottom: 200px;
}
.bottom-element{
padding:30px 0;
}
.bottom_button{
margin-left:0;
}
.bottom-right-button{
margin-right:0px;
}
.site-footer .sitemap .widget_nav_menu {
margin-left:0.5rem;
}
.next-btn{
display:none;
}

 /*iPad*/
 @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .elementor-widget img{
        width:80%;
        height: auto;
    }

 }
 .youtube_kv{
     margin-top: 200px;
 }
/*iPhone12レスポンシブ対応*/
@media only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .youtube_kv{
        margin-top: 200px;
    }
    .elementor-widget img{
        width:80%;
        height: auto;
    }
  }
  .bottom-inner{
    display:block;
}
.bottom-left{
    width:100%
}
.bottom-right{
    width:100%;
    margin-top:50px;

}
  }
