body{
    background-color: ivory;
}
.panel-body{
    background-color :rgb(209, 199, 199);
}
h1{
    font-size: larger;
}
ul{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}
.picture img{
    width: 600px;
    height: auto;
}
.icon img {
    zoom:unset;
    width: 160px;
    height: auto;
    background-color: lightseagreen;
    border-radius: 20px;
}
button {
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 20px;
}
button.back{
    margin-left:15px;
}
li{
    margin-top:10px;
}
.submit_button a{
    color:red;
}
.submit_button{
  /*   background-color: lightpink; */
}
button{
    border:none;
    background-color: ivory;
}
.bottom{
    margin:20px auto;
}
.submit_button{
    background-color: #a7d39c;
    border:unset;
}
.route{
    margin:auto;
}
input{
    width: 30%;
    border: unset;
    background-color: rgb(176, 233, 182);
    margin-top: 16px;
}
input.sk_name{
    width:100%;
    font-weight:bold;
}
input.sk_name:hover{
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}
.b_button{

        display: grid;
        justify-items: stretch;
}
.or{
    margin-top:10px;
}
h6{
    margin-top:8px;
}
.store{
    width:60%;
    margin:0 auto;
    margin-top:10px;
}
.py-4{
    justify-content: center;
}
@media only screen and (max-width: 767px){
    .picture img{
        width: 100%;
        height: auto;
    }
    .icon img {
        zoom:unset;
        width: 100px;
        height: auto;
    }
    ul{
        display:flex;
        flex-direction: row;
    }
    ul.ham{
        display:block;
    }
    .card img{
        width:100%;
        height:auto;
    }
tr{
    display: grid;
}
}
