body{
    background-color: ivory;
}
h1{
    font-size: larger;
}
ul{
    display: flex;
    justify-content:space-evenly;
}
.picture img{
    width: auto;
    height: 40%;
}
.icon img {
    zoom:unset;
    width: 160px;
    height: auto;
    background-color: lightseagreen;
    border-radius: 20px;
}
button {
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 20px;
}
button.back{
    margin-left:15px;
}
li{
    margin-top:10px;
}
.submit_button a{
    color:red;
}
.submit_button{
  /*   background-color: lightpink; */
}
button{
    border:none;
    background-color: ivory;
}
.bottom{
    margin:20px auto;
}
.submit_button{
    background-color: #a7d39c;
    border:unset;
}
.route{
    margin:auto;
}
input{
    width: 30%;
    border: unset;
    background-color: rgb(176, 233, 182);
    margin-top: 16px;
}
@media only screen and (max-width: 767px){
    .picture img{
        width: 100%;
        height: auto;
    }
    .icon img {
        zoom:unset;
        width: 100px;
        height: auto;
    }
    ul{
        display:flex;
    }
    .card img{
        width:100%;
        height:auto;
    }
tr{
    display: grid;
}
}
