.py-4{
    display:block;
}
.qr_code{
    border: 1px solid lightslategray;
    padding:16px;
}
.support{
    background-color: rgb(235, 212, 195);
    margin:8px auto;
    width:80%;
    padding:8px;
}
label{
    font-weight: bold;
    padding:8px;
}
tr{
    border: 1px solid black;
}
.content{
    margin:0 auto;
    padding:8px;
    text-align: left;
}
@media (max-width: 767px) { /* スマホ表示の幅を設定 */
    .hide-on-mobile {
        display: none;
    }
}