
#header {
    width: 100%;
    background-color: rgb(233, 233, 127);
    height: fit-content;
  }

  #header .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;

  }
  #header .back{

  }
body{
    background-color:aliceblue;
}
#nav-open{
    margin-left: 20px;
    margin-top: 20px;
}
.MyCardElement {
	height: 40px;
	padding: 10px 12px;
	width: 100%;
	color: #32325d;
	background-color: white;
	border: 1px solid transparent;
	border-radius: 4px;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
  }

  .MyCardElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .MyCardElement--invalid {
	border-color: #fa755a;
  }

  .MyCardElement--webkit-autofill {
	background-color: #fefde5 !important;
  }
  #card-element.form-group{

  }
  .month{
    border-color: lightgreen;
    padding: 10px;
    border-width: 5px;
    margin-bottom: 10px;
    border-style: double;
  }
  .try{
      background-color: rgb(233, 233, 127);
      padding: 20px;
  }
  #card-button a{
    color: white;
  }

/*請求情報*/
.cancel{
    margin: 20px auto;
    background-color: beige;
    padding: 20px 50px;
    width:50%;
}
.portal, .lets_start{
    margin: 20px auto;
    background-color: beige;
    padding: 20px 50px;
    width:50%;
}

/* .lets_start{
    margin: 10px auto;
    width:50%;
    background-color:aquamarine;
} */
.account{

}

 span{
     font: bold;
     color:#fa755a;
 }
 input {
    margin-bottom: 20px;

 }
 .card_container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 50px;
    border: solid 2px lightgray;
    background-color: floralwhite;
    padding: 0 20%;
 }
 #card-button{
    margin-top:20Px;
 }
 /*==================================================
アコーディオンのためのcss
===================================*/
section{
    display:flex;
}
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
  border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    transition: all .5s ease;
    color: #0056b3;

}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;

}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);

}
.title::after{
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
  transform: rotate(45deg);
}

.title.close::after{
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
  margin:0 3% 3% 3%;
    padding: 3%;
}

/*========= レイアウトのためのCSS ===============*/


h2{
    text-align: center;
    margin: 30px 0;
    font-size:1rem;
}

button a{
  color:#5bef82
}
/*レスポンシブ対応*/
@media (max-width: 480px){
    .MyCardElement{
/*         width:90%;
 */    }
    .card_container{
        width:fit-content;
        padding-right: 3%;
        padding-left: 3%;
    }
    p{
        overflow-wrap: break-word;
    }
    .cancel, .portal, .lets_start{
        width:90%;

    }

}
