html{
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
body{
    background-color: #e7e7eb ;
    text-align: center;
}
.container{
    margin-right: auto;
    margin-left: auto;
    position: relative;
      padding-bottom: 60px;
      box-sizing: border-box;
      min-height: 100vh;
}
.status{
    margin-top:20px;
    margin-left: 30%;
    display: flex;

}
button{
    color: #1422d1;
    background-color: #2feb00;
    border: solid green;
}
button a{
    text-decoration: none;
}
.register_button, .login_button, .contact{
    background-color: #c6dcea ;
    margin-left:30px;
    padding:10px;
}
.content{
    background-color: #c6dcea ;
    margin: 20px 2%;
    padding: 30px;
}
.explain{
}
h1{
    color:#1422d1

}
h2{
    text-align: left;

}
h3{
    text-align: left;

}
ul.explain{

}
li.explain{

}
.vs4auti{

}
h3.vs4auti{

}
.sample{

}
p.sample{

}
.explain img{
    width: 20%;
    height: auto;
}
img{

}
.rule{
    margin-top: 100px;
    margin-left: 30%;
}
h3.rule{

}
img{
    width: 20%;
    height: 500px;
}
/*コンタクトフォーム*/
.contact{
    width: 50%;
    margin: 50px auto;
}
.contact li{
    margin-top: 10px;
}
/*レスポンシブ対応*/
@media (max-width: 480px){
    .status{
        margin-top:20px;
        display:block;
        width: max-content;
        margin-left: 0;
    }
    .register_button, .login_button, .contact{
        background-color: #c6dcea ;
    }
    button{
        color: #1422d1;
        background-color: #2feb00;
        border: solid green;
        width: 50%;
    }
    .content{
         margin: 20px 0;
        }
    .explain img{
        width: 30%;
        height: auto;
    }
    img{
        width: max-content;
        margin-bottom: 10px;
    }
    .contact{
        width: fit-content;
        margin: 50px auto;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait)  {
    .status{
        margin-top:20px;
        width: max-content;
        margin-left: 0;
    }
    .content{
        margin: 20px 0;
    }
    .explain img{
        width: 30%;
        height: auto;
    }
    img{
        width: max-content;
        margin-bottom: 10px;
    }
    .contact{
        width: fit-content;
        margin: 50px auto;
    }
            }


