html{
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
body{
    background-color: #e7e7eb ;
    text-align: center;
}
/* header
------------------------------ */
#header {
    width: 100%;
    background-color: darkturquoise;
    position: relative;

  }

  #header .wrapper {
/*     margin: 0 auto;*/
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin-left: 20%;
  }
 #header .contact{
    margin-left: 40%;
 }
 .left{
    display:flex;
    justify-content: center;
 }
 .policy{
    /* position: absolute;
    right: 5%;
    margin-top:65px; */
 }
.terms{
    /* position: absolute;
    right: 5%;
    margin-top:65px; */
 }
.container{
    margin-right: auto;
    margin-left: auto;
    position: relative;
      padding-bottom: 60px;
      box-sizing: border-box;
      min-height: 100vh;
}
.status{
    margin-top:20px;
    margin-left: 30%;
    display: flex;

}
button{
    color: #1422d1;
    background-color: #2feb00;
    border: solid green;
}
button a{
    text-decoration: none;
}
.register_button, .login_button{
    background-color: #c6dcea ;
    margin-left:30px;
    padding:10px;
}
.content{
    background-color: #c6dcea ;
    margin: 20px 2%;
    padding: 30px;
}
.explain{
}
h1{
    color:#1422d1

}
h2{
    text-align: left;

}
h3{
    text-align: left;

}
ul.explain{

}
li.explain{

}
.vs4auti{

}
h3.vs4auti{

}
.sample{

}
p.sample{

}
.explain img{
    width: 20%;
    height: auto;
}
img{

}
.rule{
    margin-top: 100px;
    margin-left: 30%;
}
h3.rule{

}
img{
    width: 20%;
    height: 500px;
}
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 0 0 100px 0;
    background-color:darkturquoise
  }
  .footer-text {
    color: #fff;
  }
/*レスポンシブ対応*/
@media (max-width: 480px){
    body{
        position: relative;
    }
    #header .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        display:block;
      }
    #header .contact{
        margin-left: 0;
     }
     .left{
        display:block;
        justify-content: center;
     }
    .policy{
        position: unset;
        right: 5%;
        margin-top: 0;
    }
    .terms{
        position: unset;
        right: 5%;
        margin-top: 0;
    }
    h1{
        font-size:large;
    }
    h3{
        text-align:unset;

    }
    .status{
        display:block;
        position:absolute;
        bottom:-13%;
        width:100%;
        margin-left:0;
        margin-right:0;
    }
    .register_button, .login_button{
        background-color: #c6dcea ;
        margin-left:0;
        padding:0;
    }

    button{
        color: #1422d1;
        background-color: #2feb00;
        border: solid green;
        width: 80%;
        height: 40px;
    }
    .content{
         margin: 20px 0;
        }
    .explain img{
        width: 30%;
        height: auto;
    }
    img{
        width: max-content;
        margin-bottom: 10px;
    }
    .rule{
        margin-top: 10px;
        margin-left: 0;
    }
    footer{
        position:absolute;
        bottom:-20%;
        width:100%;
    }

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait)  {
    #header .try{
        margin-left: 10%;

    }
    #header .contact{
        margin-left: 10%;
     }

    .policy{
         position:unset;
         right: 0%;
     }
    .terms{
        position: unset;
        right: 0%;
     }
    .status{
        display:block;
        margin-top:20px;
        width: max-content;
        margin-left: 0;
    }

    .content{
        margin: 20px 0;
    }
    .explain img{
        width: 30%;
        height: auto;
    }
    img{
        width: max-content;
        margin-bottom: 10px;
    }
    footer {
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 0 0 50px 0;
        background-color:darkturquoise
      }
    /*  */
            }


